.Logo {
  display: flex;
  align-items: center;
  text-align: center;
}
.Logo img {
  margin: 5px;
  height: 55px;
  width: 50px;
}
.Logo span {
  font-family: "Kaushan Script", cursive;
  color: rgb(229, 188, 195);
  font-size: 2.3rem;
}
