.Logo {
  display: flex;
  align-items: center;
}
.Logo img {
  margin: 5px;
  height: 55px;
  width: 50px;
}
.Logo span {
  font-family: "Kaushan Script", cursive;
  color: rgb(229, 188, 195);
  font-size: 1.7rem;
  margin: -2px;
}
@media (min-width: 500px) {
  .Logo span {
    font-size: 2rem;
  }
}
