.Milk {
  width: 40px;
  height: 70px;
  box-sizing: border-box;

  background-repeat: no-repeat;
}
.milk {
  background-image: url(../../../../assets/milk.webp);

  background-size: 100%;
}
.chocolate {
  background-image: url(../../../../assets/chocolate.webp);
  background-size: 100%;
}
.banana {
  background-image: url(../../../../assets/banana.webp);
  background-size: 100%;
}
.cherry {
  background-image: url(../../../../assets/cherry.webp);
  background-size: 100%;
}
.strawberry {
  background-image: url(../../../../assets/strawberry.webp);
  background-size: 100%;
}
.berry {
  background-image: url(../../../../assets/berry-syrup.jpg);
  background-size: 100%;
}
.orange {
  background-image: url(../../../../assets/orange-juice.webp);
  background-size: 100%;
}

@media (min-width: 900px) {
  .Milk {
    width: 50px;
    height: 90px;
    background-size: 100%;
  }
}
