.Ingredient {
  width: 40px;
  height: 50px;
  box-sizing: border-box;

  background-repeat: no-repeat;
}
.chocolate {
  width: 0 !important;
  height: 0 !important;
}
.banana {
  width: 0 !important;
  height: 0 !important;
}
.cherry {
  background-image: url(../../../../assets/cherry.webp);
  background-size: 100%;
}
.strawberry {
  background-image: url(../../../../assets/strawberry.webp);
  background-size: 100%;
}
.berry {
  width: 0 !important;
  height: 0 !important;
}
.orange {
  width: 0 !important;
  height: 0 !important;
}

@media (min-width: 900px) {
  .Ingredient {
    width: 60px;
    height: 100px;
    background-size: 100%;
    margin-top: -25px;
    box-sizing: border-box;
  }
}
