.Toolbar {
  background-color: #f6ff9f;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Toolbar nav {
  display: none;
}
@media (min-width: 500px) {
  .Toolbar nav {
    display: block;
  }
}
