.MilkshakeKit .plate {
  padding: 1rem;
  padding-top: 2rem;

  background-color: rgb(155, 238, 193);
  width: 400px;
  height: 350px;
  border-radius: 5%;

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;

  overflow: hidden;
}
.MilkshakeKit .price {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  font-family: "Kaushan Script", cursive;
}

.MilkshakeKit {
  padding: 0 0.5rem;
  width: 100%;
}

@media (min-width: 500px) {
  .MilkshakeKit {
    width: 495px;
  }
}
