.MilkshakeKit .bento {
  padding: 1rem;
  padding-top: 2rem;

  background-color: rgb(155, 238, 193);
  width: 430px;
  height: 350px;
  border-radius: 5%;

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;

  overflow: hidden;
}
.MilkshakeKit .price {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Kaushan Script", cursive;
}
